[submodule ".registry"]
	path = .registry
	url = https://github.com/inbo/inbo.r-universe.dev
	branch = HEAD
[submodule "INBOmd"]
	path = INBOmd
	url = https://github.com/inbo/inbomd
[submodule "INBOtheme"]
	path = INBOtheme
	url = https://github.com/inbo/inbotheme
[submodule "LSVI"]
	path = LSVI
	url = https://github.com/inbo/lsvi
[submodule "camtrapdp"]
	path = camtrapdp
	url = https://github.com/inbo/camtrapdp
[submodule "camtraptor"]
	path = camtraptor
	url = https://github.com/inbo/camtraptor
[submodule "checklist"]
	path = checklist
	url = https://github.com/inbo/checklist
[submodule "codemetar"]
	path = codemetar
	url = https://github.com/ropensci/codemetar
[submodule "colorblindr"]
	path = colorblindr
	url = https://github.com/clauswilke/colorblindr
	registered = false
[submodule "dhcurve"]
	path = dhcurve
	url = https://github.com/inbo/dhcurve
[submodule "effectclass"]
	path = effectclass
	url = https://github.com/inbo/effectclass
[submodule "forrescalc"]
	path = forrescalc
	url = https://github.com/inbo/forrescalc
[submodule "frictionless"]
	path = frictionless
	url = https://github.com/frictionlessdata/frictionless-r
[submodule "git2rdata"]
	path = git2rdata
	url = https://github.com/ropensci/git2rdata
[submodule "grtsdb"]
	path = grtsdb
	url = https://github.com/inbo/grtsdb
[submodule "inbodb"]
	path = inbodb
	url = https://github.com/inbo/inbodb
[submodule "inborutils"]
	path = inborutils
	url = https://github.com/inbo/inborutils
[submodule "inbospatial"]
	path = inbospatial
	url = https://github.com/inbo/inbospatial
[submodule "inlatools"]
	path = inlatools
	url = https://github.com/inbo/inlatools
[submodule "kableExtra"]
	path = kableExtra
	url = https://github.com/ThierryO/kableExtra
[submodule "ladybird"]
	path = ladybird
	url = https://github.com/inbo/ladybird
[submodule "lipsum"]
	path = lipsum
	url = https://github.com/inbo/lipsum
[submodule "lubridate"]
	path = lubridate
	url = https://github.com/tidyverse/lubridate
	registered = false
[submodule "multimput"]
	path = multimput
	url = https://github.com/inbo/multimput
[submodule "n2kanalysis"]
	path = n2kanalysis
	url = https://github.com/inbo/n2kanalysis
[submodule "n2khab"]
	path = n2khab
	url = https://github.com/inbo/n2khab
[submodule "n2khabmon"]
	path = n2khabmon
	url = https://github.com/inbo/n2khabmon
[submodule "n2khelper"]
	path = n2khelper
	url = https://github.com/inbo/n2khelper
[submodule "protocolhelper"]
	path = protocolhelper
	url = https://github.com/inbo/protocolhelper
[submodule "qgisprocess"]
	path = qgisprocess
	url = https://github.com/r-spatial/qgisprocess
[submodule "territoria"]
	path = territoria
	url = https://github.com/inbo/territoria
[submodule "trias"]
	path = trias
	url = https://github.com/trias-project/trias
[submodule "wateRinfo"]
	path = wateRinfo
	url = https://github.com/rOpenSci/wateRinfo
[submodule "watina"]
	path = watina
	url = https://github.com/inbo/watina
[submodule "zen4R"]
	path = zen4R
	url = https://github.com/eblondel/zen4R
